<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700|Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>

<section class="hero image-as-background" style="background-image: url(<%= asset_path 'campus.jpg'%>);">
  <div class="hero-container">
    <h1 class=" animate fadeInLeft delay-400" style="color:white;"> East Cannal Campus </h1>
    <h1 class="hero-title animate fadeInLeft delay-600">NCBA&E</h1>

  </div>
</section>


<article class="post hentry">
  <header class="entry-header">
    <h1 class="entry-title" style ="color:black;font-size: 72px;">Mission Statement </h1>
    <h2 class="entry-subtitle" style ="color:black;" >NCBA&E EAST CANNAL CAMPUS was established in 2012 by The Chief Executive of the campus, Honorable Haji Nasir Hussain. The mission of East Cannal Campus is to provide quality education at a reasonable and affordable cost to the rural community of East Lahore. </h2>
    <!-- <p class="entry-meta">
      <strong>Text</strong> Jannie Aquilonius   &nbsp;
      <strong>Foto</strong> Julie Jacobson & Karin Åmossa
    </p> -->
  </header>
  <br>
  <main class="entry-content">
    <p><em>The National college Of Business Administration & Economics</em>, Lahore got the charter form the Government Of Punjab in 2002, as a degree awarding institution by Higher Education Commission (HEC) of Pakistan.NCBA&E is the largest HEC approved affiliated Campus network in Pakistan. <br> </p>
      <%= image_tag("haji-nasir-hussain.png")%>
      <p>Haji Nasir Hussain(CEO) </p> 
      <b>Chief Executive's Message </b>
&emsp;  —"We cannot always build the future for our youth, but we can build our youth for the future" (Franklin D.Roosevelt) .<br>
&emsp;—These words by Franklin D. Roosevelt perfectly describe our aim at East Cannal Campus,NCBA&E Lahore. Beyond providing a sound education, we wish to provide our students a holistic learning experience forthe life. <p>
&emsp;— Dear students, "You are the nation-builders. You are the movers of economy. You are the agents of
change." It is our fervent hope that the years that you spend at East Canal Campus would enable you to
equip with leadership and managerial skills. The knowledge that you will gain, the fine qualities that
you will imbibe and the skill-set that you will learn to apply will be your major contribution to your
parents, to society and to the nation.</p>
<p>
      <%= image_tag("Dr.qasim-rind.png")%>
       <b>Prof-Dr.Muhammad Qasim rind</b>
       <p>
      — It is great honors for me to welcome you to the National College of Business Administration &
Economics, East Canal Campus, Lahore. The University was established with the vision to
produce motivated, research oriented, and competent professionals. The university took
challenging task and invented its strategy to acquire the status of being classified as provider for
career oriented individual, who can create a positive impact on the society. One of the hallmarks
of the Campus is its innovative and up to date syllabi in accordance with the direction of Higher
Education Commission (HEC). </p> </p>
    <p>Our curriculum inculcates creativity, innovation, critical thinking in the students, and practical works
for the bright future. The campus imparts values of commitment to learning and professionalism.
The students develop confidence, adaptability and high level communication skills through it.
NCBA&E, East Canal Campus offers a wide range of courses in the field of Management Sciences,
Information Technology (Computer Science), Commerce, Economics, Social Sciences, Applied
Mathematics, and English Literature & Linguistics. “I invite you to join NCBA&E, East Canal Campus,
which provides an ideal educational environment for your growth and development.”
      </p>
  </main>
</article>






