<header class="p-main-header  p-main-header_sm b-text-color b-text-color_white ">
    <!-- <video src="/static/site/assets/video/master.mp4" class="b-bgvideo" autoplay loop></video><!-- autoplay -->
    <div class="b-bgvideo" style="background-image:url('https://s-media-cache-ak0.pinimg.com/originals/e9/f7/01/e9f701b1b22c98fad8c2b2fc6c527015.jpg');"></div>
  <video src="http://bashinsky.pro/sources/codepen/BEST%20OF%20SNOWBOARD%202016.mp4" class="b-bgvideo" autoplay="" loop="" muted></video>
                <div class="b-head-bgimage" style="background-image:url();"></div>
            
        
        <div class="b-container b-container_inline-block b-container_fluid-outer b-container_up">
            <!--begin b-top-menu -->
            <div class="b-top-menu b-text-color b-text-color_gray-blue">
                <div class="b-top-menu__item b-top-menu__item_right b-text-default b-text-default_md">
                    <a href="mailto:ski_club@mail.ru" class="b-email-link b-link">email@email.ru</a>
                </div>
                <!--end b-top-menu__item-->
                <!--begin b-top-menu__item-->
                <div class="b-top-menu__item b-top-menu__item_right b-text-default b-text-default_md">
                    <span>+7 -880-200-06-00</span>
                </div>
                <!--end b-top-menu__item-->
            </div>
            <!--end b-top-menu -->
            <!--begin b-main-menu-->
            <div class="b-main-menu b-container b-container_fluid-inner b-container_margin-auto">
                <a href="/"><div class="b-main-menu__logo b-main-menu__logo_left"></div></a>
                <div class="b-main-menu__center">
                    <div class="b-heading b-heading_main">
                        <a href="/"><h1 class="">Video Header</h1></a>
                    </div>
                    <nav class="b-main-menu-center__list ">
                        


<ul class="b-main-menu-list">   
    
        <li class="b-main-menu-list__item b-link "><a href="#" class="b-text-bold b-text-bold_sm-resp">Home</a></li>
    
        <li class="b-main-menu-list__item b-link "><a href="#" class="b-text-bold b-text-bold_sm-resp">Gallery</a></li>
    
        <li class="b-main-menu-list__item b-link "><a href="#" class="b-text-bold b-text-bold_sm-resp">News</a></li>
    
        <li class="b-main-menu-list__item b-link "><a href="#" class="b-text-bold b-text-bold_sm-resp">Shop</a></li>
    
</ul>



                    </nav>
                </div>
                <a href="/"><div class="b-main-menu__logo b-main-menu__logo_right is-hidden"></div></a>
            </div>
            <!--end b-main-menu -->
            <!--begin b-slogan-->
            
<div class="b-slogan">
    <div class="b-slogan__heading b-heading b-heading_1">
<!--         <h1>Горные лыжи - наша работа! </h1> -->
        <h1>Hello ;)</h1>
    </div>
    <div class="b-slogan__description b-text-default b-text-default_lg">
    <p></p><p><br></p><p></p>
    </div>
    <a class="b-slogan__button-play" href="https://www.youtube.com/watch?v=n0F6hSpxaFc"></a>
</div>
        </div>
    </header>