<%= div_for (forum_post) do %>
  <p>Posted by: <b> <%= forum_post.user.full_name %></b> <space> | <%= time_ago_in_words forum_post.created_at %></space> </p> 
	<p class = "bd-font"><%= forum_post.body %></p> 
<% end %>


