
<div class="page__demo">
  <div class="main-container page__container">
    <div class="timeline">
      <div class="timeline__group">
        <span class="timeline__year"><%= forum_thread.created_at.year %> </span>
        <div class="timeline__box">
          <div class="timeline__date">    
            <%= gravatar_for forum_thread.user %> 
          </div>
          <div class="timeline__post">
            <div class="timeline__content">
              <span style="text-decoration: none;"> <%= link_to forum_thread do  %> </span> 
              <h1 style="text-decoration: none;"> <b><%=forum_thread.subject %>  </b> </h1>
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias dolores consequatur velit quas quod obcaecati. Modi inventore cum ut, reprehenderit, aperiam quis ipsa consectetur esse incidunt laboriosam quidem dignissimos, et! </p>
              <% end %> 
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


